.article {
  color: #263843;

  a {
    color: #0033ff;
    letter-spacing: 0.025em;
    line-height: 1.5;
    overflow-wrap: break-word;
  }

  & > h2,
  & > h3 {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 1.6em;
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
  }

  & > h2 {
    border-bottom: 1px solid #ecedf0;
  }

  & > h4 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 1.6em;
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
  }

  & > p {
    letter-spacing: 0.025em;
    line-height: 1.5;
    overflow-wrap: break-word;
  }

  & > p > img,
  & > img {
    border-radius: 16px;
  }

  & > pre {
    background-color: #364549;
    border-radius: 4px;
    padding: 12px 12px;
    color: #ffffff;
  }
}
