@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KintoSans";
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/KintoSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "KintoSans";
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/KintoSans-Bold.woff2") format("woff2");
}
